@use "../../../scss/media-queries.scss" as mixins;

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
  i {
    font-size: 16pt;
    cursor: pointer;
  }
  p.link {
    cursor: pointer;
  }
  .modal {
    &-header {
      align-items: center;
      .right {
        align-items: end;
        i {
          font-size: 20pt;
        }
      }
    }
    &-form {
      max-width: 600px;
      min-width: 400px;
      @include mixins.lt-sm {
        min-width: auto;
      }
      form {
        width: 100%;
        .form-control {
          margin: 0;
          padding: 0;
          button {
            margin-top: 8px;
          }
        }
      }
    }
    &-items {
      max-width: 600px;
      max-height: 300px;
      overflow-y: scroll;
      .user-photo-rounded {
        margin-right: 12px;
      }
      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        a {
          cursor: pointer;
          font-size: 9pt;
          font-weight: 600;
        }
        .comment-date {
          font-size: 9pt;
          font-weight: 600;
        }
      }

      .comment {
        .user {
          font-size: 10pt;
          font-weight: 600;
        }
        span {
          display: inline;
          margin-right: 4px;
          line-height: 20px;
          text-align: justify;
        }
      }
    }
  }
}
