<div class="container page home">
  <div class="row">
    <div class="col home-body">
      <h1>
        <span class="text-gradient">Postagens</span>
      </h1>
      <div class="divider"></div>
      @if (!posts || posts.length === 0) {
      <div>
        @if (search) {
        <div class="no-posts">
          <div>
            Nenhum resultado para: <b>{{ search }}</b>
          </div>
          <div>
            <a routerLink="/home">Limpar pesquisa</a>
          </div>
        </div>
        } @else{
        <p class="no-posts">Nenhuma postagem foi adicionada ainda!</p>
        }
      </div>
      } @else {
      <div class="home-body-items">
        <div>
          @if (search) {
          <div>
            Resultados para pesquisa: <b>{{ search }}</b>
            <div class="divider"></div>
          </div>
          }
        </div>
        @for (post of posts; track post.id) {
        <div class="home-body-items-item">
          <div class="row">
            <div class="col auto">
              <div class="user-photo-rounded medium">
                <img [src]="img_url + post.user.id" alt="Foto de Perfil" />
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col left">
                  <h1>{{ post.title }}</h1>
                </div>
              </div>
              <h2>
                {{ post.user.name }} |
                {{ post.date | date : "dd/MM/yyyy - HH:mm" }}
              </h2>
            </div>
          </div>
          <p>{{ post.text }}</p>
        </div>
        <div class="row">
          <div class="col">
            <app-home-postagem-footer [id]="post.id"></app-home-postagem-footer>
          </div>
        </div>
        <div class="divider"></div>
        }
      </div>
      }
    </div>
  </div>
</div>
