@use "../../../scss/media-queries.scss" as mixins;

.home {
  width: 100%;
  .input-submit-icon {
    display: none;
    @include mixins.lt-sm {
      display: block;
      margin-bottom: 16px;
    }
  }
  &-body {
    .no-posts {
      margin-bottom: 24px;
      a {
        margin-top: 8px;
        display: block;
      }
    }
    .divider {
      margin-bottom: 0;
    }
    .no-posts {
      margin-top: 16px;
    }
    &-items {
      .results {
        margin-top: 16px;
      }
      .divider {
        margin-top: 18px;
      }
      &-item {
        margin: 16px 0;
        > .row {
          justify-content: center;
          align-items: center;
        }
        .user-photo-rounded {
          margin-right: 12px;
        }
        .row .col.left {
          align-items: start;
          width: 100%;
          h1 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include mixins.lg {
              width: calc(100vw - 820px);
            }
            @include mixins.md {
              width: calc(100vw - 600px);
            }
            @include mixins.sm {
              width: calc(100vw - 270px);
            }
            @include mixins.lt-sm {
              width: calc(100vw - 120px);
            }
          }
        }
        h1 {
          font-weight: 600;
          font-size: 14pt;
        }
        h2 {
          font-weight: 600;
          font-size: 9pt;
          margin-top: 4px;
        }
        p {
          margin: 16px 0;
          white-space: pre-line;
          text-align: justify;
        }
      }
    }
  }
}
