<div class="container page search-user">
  <div class="row">
    <div class="col input-submit-icon">
      <form [formGroup]="formSearch" (submit)="onSubmit()">
        <input
          formControlName="search"
          type="text"
          id="search"
          placeholder="Pesquisar por nome ou email!"
          autocomplete="off"
        />
        @if (formSearch.get('search')?.value) {
        <button type="button" (click)="clearSearch()">
          <i class="bi bi-x"></i>
        </button>
        } @else {
        <button type="submit">
          <i class="bi bi-search"></i>
        </button>
        }
      </form>
    </div>
  </div>
  @if (friends && friends.length > 0) {
  <div>
    @for(friend of friends; track friend.user.id) {
    <div class="friend-item">
      <app-friend-header [friend]="friend" [clicked]="true"></app-friend-header>
    </div>
    <div class="divider"></div>
    }
  </div>
  } @else {
  <div class="friends">
    <div class="row button-view">
      <button class="col" (click)="changeShowFollowing(true)">
        <h1><span [class.text-gradient]="showFollowing">Seguindo</span></h1>
        <div [class.divider]="showFollowing"></div>
      </button>
      <button class="col" (click)="changeShowFollowing(false)">
        <h1><span [class.text-gradient]="!showFollowing">Seguidores</span></h1>
        <div [class.divider]="!showFollowing"></div>
      </button>
    </div>
    <div class="row fried-list" [class.not-view]="!showFollowing">
      <div class="col">
        <h1><span class="text-gradient">Seguindo</span></h1>
        <div class="divider"></div>
        <app-list-user
          [users]="following"
          title="Seguindo"
          [limit]="-1"
        ></app-list-user>
      </div>
    </div>
    <div class="row fried-list" [class.not-view]="showFollowing">
      <div class="col">
        <h1><span class="text-gradient">Seguidores</span></h1>
        <div class="divider"></div>
        <app-list-user
          [users]="followers"
          title="Seguidores"
          [limit]="-1"
        ></app-list-user>
      </div>
    </div>
  </div>
  }
</div>
