.header {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
  align-items: center;

  &-left {
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: center;
    &-logo {
      width: 80px;
      margin-top: 4px;
    }
    svg {
      width: 60px;
      margin-top: 5px;
    }
    h1 {
      font-size: medium;
    }
  }
  &-center {
    align-items: center;
    justify-content: center;
    form {
      width: 100%;
      position: relative;
      input {
        padding: 10px 12px;
        width: 100%;
        background: #f9f9f9;
        border: 1px solid #eeeeee;
        border-radius: 8px;
        outline: none;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        border: 0;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  &-right {
    align-items: end;
    .row {
      align-items: center;
      justify-content: end;
      gap: 8px;
      a {
        color: var(--gray-700);
        font-size: 11pt;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
