.header {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
  align-items: center;

  &-left {
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: center;
    &-logo {
      width: 80px;
      margin-top: 4px;
    }
    svg {
      width: 60px;
      margin-top: 5px;
    }
    h1 {
      font-size: medium;
    }
  }
  &-center {
  }
  &-right {
    align-items: end;
    .row {
      align-items: center;
      justify-content: end;
      gap: 8px;
      a {
        color: var(--gray-700);
        font-size: 11pt;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
