@use "../../../../scss/media-queries.scss" as mixins;

.user-message {
  margin: 8px 0;
  .col.auto {
    position: relative;
    .float-number {
      z-index: 1;
      padding: 4px;
      top: 0px;
      right: 0px;
      width: 20px;
      height: 20px;
    }
  }
  &-data {
    h1,
    p {
      width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      padding: 3px 8px;
      @include mixins.lt-sm {
        width: calc(100vw - 80px);
      }
    }
  }
}
