<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="likes">
  @if (is_liked()) {
  <i class="bi bi-heart-fill text-gradient" (click)="changeLike()"></i>
  } @else {
  <i class="bi bi-heart" (click)="changeLike()"></i>
  }
  <p class="link" (click)="modalLikes()">{{ likes() }}</p>
  <p class="link" (click)="modalLikes()">Curtida(s)</p>
  <app-modal [show]="showLikes()" class="modal">
    <div class="row modal-header">
      <div class="col">
        <h1><span class="text-gradient">Curtidas</span></h1>
      </div>
      <div class="col right">
        <i class="bi bi-x" (click)="modalLikes()"></i>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row modal-items">
      <div class="col">
        @for(like of list_likes(); track like.id) {
        <div class="like-item">
          <div class="row">
            <div class="col auto">
              <div
                class="user-photo-rounded small pointer"
                routerLink="/user/{{ like.user.id }}"
              >
                <img
                  [src]="img_url + like.user.id + '?date=' + now"
                  alt="Foto de Perfil"
                />
              </div>
            </div>
            <div class="col">
              <p class="pointer" routerLink="/user/{{ like.user.id }}">
                {{ like.user.name }}
              </p>
            </div>
          </div>
          <div class="col auto like-date">
            <p>{{ like.date | date : "dd/MM/yyyy" }}</p>
            <p>{{ like.date | date : "HH:mm" }}</p>
          </div>
        </div>
        <div class="divider"></div>
        }
      </div>
    </div>
  </app-modal>
</div>
