.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  i {
    font-size: 16pt;
    cursor: pointer;
  }
  p.link {
    cursor: pointer;
  }
  .modal {
    &-header {
      max-width: 400px;
      align-items: center;
      .right {
        align-items: end;
        i {
          font-size: 20pt;
        }
      }
    }
    &-items {
      .like-item {
        display: flex;
        > .row {
          align-items: center;
          justify-items: center;
        }
        .user-photo-rounded {
          margin-right: 6px;
        }
        .like-date {
          display: flex;
          align-items: end;
          justify-content: end;
          p {
            font-size: 8pt;
            font-weight: 600;
          }
        }
      }
    }
  }
}
