.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  i {
    font-size: 16pt;
    cursor: pointer;
  }
  p.link {
    cursor: pointer;
  }
  .modal {
    &-header {
      width: 400px;
      align-items: center;
      .right {
        align-items: end;
        i {
          font-size: 20pt;
        }
      }
    }
    &-items {
      .like-item {
        display: flex;
        p {
          width: 50%;
          margin: 4px 0;
        }
        .like-date {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: end;
          font-size: 9pt;
          font-weight: 600;
        }
      }
    }
  }
}
