@if (token) {
<div class="col">
  <div class="container menu">
    <div class="items">
      <div class="form-control">
        <button routerLink="/form-postagem" (click)="closeMessages()">
          NOVA POSTAGEM
        </button>
      </div>
      <div class="icon-new-post">
        <button routerLink="/form-postagem" (click)="closeMessages()">
          <i class="bi bi-plus-circle-fill text-gradient"></i>
        </button>
      </div>
    </div>
    <div class="items">
      <a routerLink="/home" (click)="closeMessages()">
        <i class="bi bi-house"></i>
        <span>Página Inicial</span>
      </a>
    </div>
    <h1>Postagens</h1>
    <div class="items">
      <a routerLink="/minhas-postagens" (click)="closeMessages()">
        <i class="bi bi-card-text"></i>
        <span>Minhas Postagens</span>
      </a>
    </div>
    <div class="items">
      <a routerLink="/search-user" (click)="closeMessages()">
        <i class="bi bi-person"></i>
        <span>Pessoas</span>
      </a>
    </div>
    <div class="items chat">
      <button (click)="showMessages()">
        <i class="bi bi-chat-dots">
          @if (new_messages > 0) {
          <div class="float-number">
            {{ new_messages }}
          </div>
          }
        </i>
        <span>Mensagens</span>
      </button>
    </div>
    <h1>Configurações</h1>
    <div class="items">
      <a routerLink="/profile" (click)="closeMessages()">
        <i class="bi bi-gear"></i>
        <span>Meu Perfil</span>
      </a>
    </div>
    <div class="items logout">
      <a href="#" (click)="logout()">
        <i class="bi bi-box-arrow-left"></i>
        <span>Sair</span>
      </a>
    </div>
  </div>
</div>
@if (isOpenMessage) {
<div class="view-messages">
  <app-messages
    class="app-messages"
    [startOpen]="true"
    (buttonClose)="closeMessages()"
  ></app-messages>
</div>
} }
