.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    gap: 36px;

    &-left {
      display: flex;
      flex-direction: column;
      width: 40%;
      h1 {
        margin: 16px 0;
        font-size: larger;
      }
      &-logo {
        width: 150px;
      }
    }
    &-divider {
      background: var(--red-to-pink-to-purple-vertical-gradient);
      width: 1px;
    }
    &-right {
      display: flex;
      flex-direction: column;
      width: 60%;
      h1 {
        font-size: larger;
      }
    }
    &-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      > p {
        margin-bottom: 16px;
        a {
          font-weight: 600;
        }
        a.bold {
          color: var(--gray-900);
        }
        button {
          background-color: transparent;
          color: var(--gray-900);
          font-weight: 600;
          border: 0;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
