:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11pt;
}

a,
a:visited {
  color: var(--bright-blue);
}

.pointer {
  cursor: pointer;
}

.text-gradient {
  background-image: var(--red-to-pink-to-purple-horizontal-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  margin: 12px 0;
}

.line-or {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
  &-line {
    width: 50%;
  }
  &-or {
    font-weight: 600;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.col.auto {
  width: auto;
}

.container {
  display: block;
  width: 100%;
}

.container.page {
  padding: 36px;
}

.input-search {
  align-items: center;
  justify-content: center;
  form {
    width: 100%;
    position: relative;
    input {
      padding: 10px 12px;
      width: 100%;
      background: #f9f9f9;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      outline: none;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: 0;
      padding: 10px;
      cursor: pointer;
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
  * {
    display: flex;
  }
  label {
    font-weight: 700;
    font-size: 9pt;
    cursor: pointer;
  }
  input,
  select,
  textarea {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
    outline: none;
    width: 100%;
  }
  button {
    display: block;
    border: 0;
    border-radius: 36px;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 11pt;
    cursor: pointer;
    background-image: var(--red-to-pink-to-purple-horizontal-gradient);
    color: white;
  }
  button.secondary {
    background-color: #eeeeee;
    background-image: none;
    color: var(--gray-700);
  }
  .error {
    color: var(--orange-red);
    font-size: 9pt;
    padding: 4px 0;
  }
}

.user-photo-rounded.small {
  width: 24px;
  height: 24px;
}
.user-photo-rounded.medium {
  width: 48px;
  height: 48px;
}
.user-photo-rounded.large {
  width: 120px;
  height: 120px;
}
.user-photo-rounded {
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
