@if (friend()) {
<div class="friend">
  <div class="row friend-header">
    <div class="col auto">
      @if (clicked()) {
      <div
        class="user-photo-rounded large pointer"
        [routerLink]="'/user/' + friend().user.id"
      >
        <img [src]="img_url" alt="Perfil" />
      </div>
      } @else {
      <div class="user-photo-rounded large">
        <img [src]="img_url" alt="Perfil" />
      </div>
      }
    </div>
    <div class="col">
      <div class="row">
        <div class="col friend-header-data">
          <div class="row friend-header-data-name">
            <div class="col">
              <h1>
                @if (clicked()) {
                <span
                  class="text-gradient pointer"
                  [routerLink]="'/user/' + friend().user.id"
                  >{{ friend().user.name }}</span
                >
                } @else {
                <span class="text-gradient">{{ friend().user.name }}</span>
                }
              </h1>
              <h2 class="small">
                Desde {{ friend().user.date | date : "dd/MM/yyyy" }}
              </h2>
            </div>
            <div class="col btn-editar">
              @if (friend().user.id === logged) {
              <button class="btn-editar-icon" routerLink="/profile">
                <i class="bi bi-pencil-square text-gradient"></i>
              </button>
              <div class="form-control">
                <button routerLink="/profile">EDITAR</button>
              </div>
              } @else {
              <app-follow [id]="friend().user.id"></app-follow>
              }
            </div>
          </div>
          <div class="row friend-header-data-number large">
            <div class="col friend-header-data-number-item">
              <b>{{ friend().posts.length }}</b>
              @if (friend().posts.length>1) { postagens } @else { postagem }
            </div>
            <div class="col friend-header-data-number-item">
              <b>{{ friend().following.length }}</b>
              seguindo
            </div>
            <div class="col friend-header-data-number-item">
              <b>{{ friend().followers.length }}</b>
              @if (friend().followers.length>1) { seguidores } @else { seguidor
              }
            </div>
          </div>
          <h2 class="large">
            Desde {{ friend().user.date | date : "dd/MM/yyyy" }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row friend-header-data-number small">
        <div class="col friend-header-data-number-item">
          <b>{{ friend().posts.length }}</b>
          @if (friend().posts.length>1) { postagens } @else { postagem }
        </div>
        <div class="col friend-header-data-number-item">
          <b>{{ friend().following.length }}</b>
          seguindo
        </div>
        <div class="col friend-header-data-number-item">
          <b>{{ friend().followers.length }}</b>
          @if (friend().followers.length>1) { seguidores } @else { seguidor }
        </div>
      </div>
    </div>
  </div>
</div>
}
