<div class="container page user">
  @if (friend) {
  <app-friend-header [friend]="friend"></app-friend-header>
  <div class="row">
    <div class="col auto">
      <h1 class="text-gradient">Postagens</h1>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col user-items">
      @for (post of friend.posts; track post.id) {
      <div class="user-items-item">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col left">
                <h1>{{ post.title }}</h1>
              </div>
            </div>
            <h2>
              {{ post.date | date : "dd/MM/yyyy - HH:mm" }}
            </h2>
          </div>
        </div>
        <p>{{ post.text }}</p>
      </div>
      <div class="row">
        <div class="col">
          <div class="row footer">
            <div class="col footer-likes">
              <app-postagem-likes [id]="post.id"></app-postagem-likes>
            </div>
            <div class="col footer-comments">
              <app-postagem-comments [id]="post.id"></app-postagem-comments>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      }
    </div>
  </div>
  }
</div>
