.user {
  &-header {
    margin-bottom: 24px;
    &-data {
      padding: 20px 24px;
      h1 {
        margin-bottom: 16px;
      }
      h2 {
        margin-top: 16px;
        font-size: 8pt;
      }
      &-numbers {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
      }
    }
    .btn-editar {
      width: 200px;
    }
  }
  .user-items {
    &-item {
      margin: 8px 0;
      h1 {
        font-size: 14pt;
        margin-bottom: 8px;
      }
      h2 {
        font-weight: 600;
        font-size: 9pt;
        margin-top: 4px;
      }
      p {
        margin: 16px 0;
        white-space: pre-line;
        text-align: justify;
      }
    }
  }
}
