.user {
  .user-items {
    &-item {
      margin: 8px 0;
      h1 {
        font-size: 14pt;
        margin-bottom: 8px;
      }
      h2 {
        font-weight: 600;
        font-size: 9pt;
        margin-top: 4px;
      }
      p {
        margin: 16px 0;
        white-space: pre-line;
        text-align: justify;
      }
    }
  }
}
