<div class="container page user">
  @if (user) {
  <div class="row user-header">
    <div class="col auto">
      <div class="user-photo-rounded large">
        <img [src]="img_url" alt="Perfil" />
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col user-header-data">
          <h1>
            <span class="text-gradient">{{ user.name }}</span>
          </h1>
          <div class="row">
            <div class="col user-header-data-numbers">
              <b>{{ posts.length }}</b>
              @if (posts.length>1) { postagens } @else { postagem }
            </div>
            <div class="col user-header-data-numbers">
              <b>{{ following.length }}</b>
              seguindo
            </div>
            <div class="col user-header-data-numbers">
              <b>{{ followers.length }}</b>
              @if (followers.length>1) { seguidores } @else { seguidor }
            </div>
          </div>
          <h2>Desde {{ user.date | date : "dd/MM/yyyy" }}</h2>
        </div>
        <div class="col btn-editar">
          @if (user.id === logged) {
          <div class="form-control">
            <button routerLink="/profile">EDITAR</button>
          </div>
          } @else {
          <app-follow [id]="user.id"></app-follow>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col auto">
      <h1 class="text-gradient">Postagens</h1>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col user-items">
      @for (post of posts; track post.id) {
      <div class="user-items-item">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col left">
                <h1>{{ post.title }}</h1>
              </div>
            </div>
            <h2>
              {{ post.date | date : "dd/MM/yyyy - HH:mm" }}
            </h2>
          </div>
        </div>
        <p>{{ post.text }}</p>
      </div>
      <div class="row">
        <div class="col">
          <div class="row footer">
            <div class="col footer-likes">
              <app-postagem-likes [id]="post.id"></app-postagem-likes>
            </div>
            <div class="col footer-comments">
              <app-postagem-comments [id]="post.id"></app-postagem-comments>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      }
    </div>
  </div>
  }
</div>
