.messages {
  position: fixed;
  bottom: 24px;
  right: 24px;
  &-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
    width: 300px;
    &-header {
      .with-close {
        display: flex;
        gap: 8px;
        padding: 16px;
        align-items: center;
        justify-content: space-between;
        button {
          background: transparent;
          border: 0;
          cursor: pointer;
        }
      }
      .without-close {
        display: flex;
        gap: 8px;
        align-items: center;
        background: transparent;
        border: 0;
        width: 100%;
        padding: 16px;
        cursor: pointer;
        button {
          background: transparent;
          border: 0;
          cursor: pointer;
        }
        i.bi-chat-dots {
          position: relative;
          .float-number {
            top: -8px;
            right: -8px;
            width: 20px;
            height: 20px;
            padding: 3px;
          }
        }
      }
      i {
        font-size: 14pt;
      }
    }
    &-body {
      height: 420px;
      margin: -16px 0;
      padding: 0 16px;
      .input-search .error {
        text-align: center;
        padding: 8px;
        color: var(--orange-red);
        font-size: 9pt;
      }
      .list-user {
        padding: 8px 0;
        button {
          border: 0;
          background-color: transparent;
          cursor: pointer;
          text-align: left;
        }
      }
    }
  }
}
